<div class="editor-row editor-mapping">
  <div class="section gf-form-group gf-form-group-code">
    <h5 class="section-heading">Mapping function</h5>
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-6">Stat</label>
        <div class="gf-form-select-wrapper width-7">
          <select class="gf-form-input" ng-model="ctrl.panel.valueName" ng-options="f for f in ctrl.valueNameOptions" ng-change="ctrl.render()"></select>
        </div>
      </div>
    </div>
  </div>
</div>