<div id="progress-list-panel">
  <div class="table-panel-scroll" ng-if="!ctrl.isPanelAlert">
    <div ng-repeat="item in items" ng-if="!ctrl.isMultibar">
      <progress-list-plugin-progress
        class="progress-list-item"
        item="item"
        on-hover="ctrl.onHover($index, event)"
        on-mouse-leave="ctrl.onMouseLeave()"
      />
    </div>
    <div ng-repeat="item in items" ng-if="ctrl.isMultibar">
      <progress-list-plugin-multibar-progress
        class="progress-list-item"
        item="item"
        on-hover="ctrl.onHover($index, event, title, value)"
        on-mouse-leave="ctrl.onMouseLeave()"
      />
    </div>
  </div>
  <div ng-if="ctrl.isPanelAlert" class="datapoints-warning flot-temp-elem">
    <div ng-bind-html="ctrl.panelAlertMessage"></div> 
  </div>
</div>
