.progress-list-panel {
  height: 100%;
  overflow-y: auto;
}

.progress-bar {
  position: relative;
  height: 30px;
  margin-bottom: 8px;
}

.progress-bar-active {
  font-weight: bold;
}

.progress-bar .list-item-content {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  width: 99%;
}

.progress-bar .progress-bar-value {
  margin-right: 8px;
}

.progress-bar .list-item-content .progress-bar-line {
  z-index: 2;
  top: 0px;
  background: darkgreen;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: gray;
}

.progress-bar .progress-bar-title-row {
  display: flex;
  justify-content: space-between;
  z-index: 4;
  width: 100%;
}

.progress-bar .progress-bar-title {
  margin-bottom: 0px;
}

.options-tab .section {
  margin-right: 1rem
}
