.progress-list-panel {
  height: 100%;
  overflow-y: auto;
}

.list-item {
  position: relative;
  height: 34px;
}

.list-item-content {
  display: block;
  width: 99%;
}

.list-item-content .list-item-value {
  position: absolute;
  z-index: 3;
  right: 0;
}

.list-item-content .progress-bar-line {
  z-index: 2;
  top: 0px;
  background: darkgreen;
}

.list-item-title {
  margin-bottom: -8px;
}

.options-tab .section {
  margin-right: 1rem
}
