.progress-list-panel {
  height: 100%;
  overflow-y: auto;
}

.progress-bar {
  position: relative;
  height: 34px;
}

.progress-bar-active {
  font-weight: bold;
}

.progress-bar .list-item-content {
  display: block;
  width: 99%;
}

.progress-bar .list-item-content .list-item-value {
  position: absolute;
  z-index: 3;
  right: 0;
}

.progress-bar .list-item-content .progress-bar-line {
  z-index: 2;
  top: 0px;
  background: darkgreen;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: gray;
}

.progress-bar .progress-bar-title {
  margin-bottom: -8px;
  z-index: 1;
}

.options-tab .section {
  margin-right: 1rem
}
