.progress-list-panel {
  height: 100%;
  overflow-y: auto;
}

.list-item {
  position: relative;
  height: 30px;
}

.list-item-content {
  display: block;
  width: 99%;
}

.list-item-content .list-item-value {
  position: absolute;
  z-index: 3;
  right: 0;
}

.list-item-content .progress-bar-line {
  z-index: 2;
  top: 0px;
  background: darkgreen;
}

.list-item-content .list-item-title {
  z-index: 1;
}

.options-tab .section {
  margin-right: 1rem
}
